@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSansLight-Italic.eot');
    src: url('../fonts/OpenSansLight-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSansLight-Italic.woff2') format('woff2'),
        url('../fonts/OpenSansLight-Italic.woff') format('woff'),
        url('../fonts/OpenSansLight-Italic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans Semibold';
    src: url('../fonts/OpenSans-Semibold.eot');
    src: url('../fonts/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans-Semibold.woff2') format('woff2'),
        url('../fonts/OpenSans-Semibold.woff') format('woff'),
        url('../fonts/OpenSans-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Italic.eot');
    src: url('../fonts/OpenSans-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans-Italic.woff2') format('woff2'),
        url('../fonts/OpenSans-Italic.woff') format('woff'),
        url('../fonts/OpenSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-BoldItalic.eot');
    src: url('../fonts/OpenSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans-BoldItalic.woff2') format('woff2'),
        url('../fonts/OpenSans-BoldItalic.woff') format('woff'),
        url('../fonts/OpenSans-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans Bold';
    src: url('../fonts/OpenSans-Bold.eot');
    src: url('../fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans-Bold.woff2') format('woff2'),
        url('../fonts/OpenSans-Bold.woff') format('woff'),
        url('../fonts/OpenSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-ExtraboldItalic.eot');
    src: url('../fonts/OpenSans-ExtraboldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans-ExtraboldItalic.woff2') format('woff2'),
        url('../fonts/OpenSans-ExtraboldItalic.woff') format('woff'),
        url('../fonts/OpenSans-ExtraboldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-SemiboldItalic.eot');
    src: url('../fonts/OpenSans-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans-SemiboldItalic.woff2') format('woff2'),
        url('../fonts/OpenSans-SemiboldItalic.woff') format('woff'),
        url('../fonts/OpenSans-SemiboldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans Extrabold';
    src: url('../fonts/OpenSans-Extrabold.eot');
    src: url('../fonts/OpenSans-Extrabold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans-Extrabold.woff2') format('woff2'),
        url('../fonts/OpenSans-Extrabold.woff') format('woff'),
        url('../fonts/OpenSans-Extrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans.eot');
    src: url('../fonts/OpenSans.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans.woff2') format('woff2'),
        url('../fonts/OpenSans.woff') format('woff'),
        url('../fonts/OpenSans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Light';
    src: url('../fonts/OpenSans-Light.eot');
    src: url('../fonts/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans-Light.woff2') format('woff2'),
        url('../fonts/OpenSans-Light.woff') format('woff'),
        url('../fonts/OpenSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Satisfy Regular';
    src: url('Satisfy-Regular.eot');
    src: url('Satisfy-Regular.eot?#iefix') format('embedded-opentype'),
        url('Satisfy-Regular.woff2') format('woff2'),
        url('Satisfy-Regular.woff') format('woff'),
        url('Satisfy-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.text-clr.ff-lt.h5-align-center.affirmation_text {
    color: #FC5C9B;
}

.testimonialComment {
  quotes: "“" "”" "‘" "’";
}
.testimonialComment::before {
    content: open-quote;
}
.testimonialComment::after {
    content: close-quote;
}

.switchboard {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
.text-dark.abundanceNewListItem,.text-dark.abundanceListItem, .text-dark.item.additemselflove {
    display: flow-root;
}
.switchboard input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.sliderpushing {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.sliderpushing:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .sliderpushing {
    background-color: #e6ccd2;
}

input:focus + .sliderpushing {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .sliderpushing:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliderpushings */
.sliderpushing.roundslider {
    border-radius: 34px;
}

.sliderpushing.roundslider:before {
    border-radius: 50%;
}

.form-group.syncButton:hover {
    background-color: #fc5d9b;
}

.form-group.syncButton {
    background-color: #e6ccd2;
    border-radius: 10px;
    padding: 10px;
    color: black !important;
}
.ff-bold.syncText {
    color: black !important;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Open Sans Bold';
}
.gallery img {
    width: 8px;
}
.text-s
{
    font-family: 'Satisfy Regular';
    font-weight: normal;
    font-style: normal;

}

.gratitude_h{
    font-weight: bold;    
}

.ui-datepicker .ui-datepicker-calendar .ui-state-highlight a {
    background: 
        #fd5592 none;
    color:
        white !important;
    border-radius: 10px !important;
}
.notes_gratitude{
    background-image: -webkit-linear-gradient(left, white 10px, transparent 10px), -webkit-linear-gradient(right, white 10px, transparent 10px), -webkit-linear-gradient(white 30px, #ccc 30px, #ccc 31px, white 31px);
    background-image: -moz-linear-gradient(left, white 10px, transparent 10px), -moz-linear-gradient(right, white 10px, transparent 10px), -moz-linear-gradient(white 30px, #ccc 30px, #ccc 31px, white 31px);
    background-image: -ms-linear-gradient(left, white 10px, transparent 10px), -ms-linear-gradient(right, white 10px, transparent 10px), -ms-linear-gradient(white 30px, #ccc 30px, #ccc 31px, white 31px);
    background-image: -o-linear-gradient(left, white 10px, transparent 10px), -o-linear-gradient(right, white 10px, transparent 10px), -o-linear-gradient(white 30px, #ccc 30px, #ccc 31px, white 31px);
    background-image: linear-gradient(left, white 10px, transparent 10px), linear-gradient(right, white 10px, transparent 10px), linear-gradient(white 30px, #ccc 30px, #ccc 31px, white 31px);
    background-size: 100% 100%, 100% 100%, 100% 31px;
    border: none;
    font-family: Arial, Helvetica, Sans-serif;
    padding: 4px 0px;
    width: 100%;
    line-height: 1.6;
}
#myLoader {
    border: 16px solid #212529;
    border-radius: 50%;
    border-top: 16px solid #66c8c9;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    z-index: 10000;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}


@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}



.ui-datepicker-today a {
    color: 
        #fc5c9b !important;
    font-weight: bold;
}
.text-ss
{
    font-family: 'Satisfy Regular';
    font-weight: normal;
    font-style: normal;
    opacity: 0.5;
}

.form-forgot {
    margin: 42px 0px;
    border-radius: 35px;
    box-shadow: 0px 10px 18px 3px 
        #b1b1a7;
    background-color: var(--form-bg-clr);
}
.time {
    margin-left: 10px;
}
.btn
.ff-reg{font-family: 'Open Sans Regular';}
.ff-lt{font-family: 'Open Sans Light';}
.ff-mbold{font-family: 'Open Sans Semibold';}
.ff-bold{font-family: 'Open Sans Bold';}
.ff-exbold{font-family: 'Open Sans Extrabold';}
.text-clr
{
    color: black;
}
.text-title
{
    color: #FC5C9B;
}
.bg-modle-li
{
    background-color:#FC5C9B;
}
.bg-modle-li-1 {
    background-color: #fff;
    box-shadow: 2px 2px 16px 1px #80808094;

}
.modal-open{
    overflow-y: scroll;
}
.btn-1:hover {
    opacity: 1;
}
.bg-modal-a
{
    background: #E6CCD2 !important;
}
.bg-modle-li-2 {
    background-color: #fff;
    box-shadow: 2px 2px 16px 1px #80808094;
    padding: 0px 20px;
    border-radius: 20px;
    height: auto;
    line-height: 40px;
    margin-bottom: 20px;
    text-align: start;
}
.bg-custom
{
    background-color: #66C8C9;
}
.text-p
{
    color: white;
}
.bg-model
{
    background-color: #66C8C9; 
}
.text-p
{
    color: #FC5C9B;
}
.m-body {
    overflow-y: auto;
    background: #E6CCD2;
}
.m-footer
{
    background-color: #E6CCD2;
}
.card-body.bg-white {
    border-radius: 50px;
}
.birthday1 {
    background: white;
    border-bottom: 1px solid black;
}
/* .home {
margin-left: 111px;
} */
.btn-danger {
    color: #fff;
    background-color: #66c8c9;
    border-color: white;
}
p{
    font-family: 
}

body,html {
    font-family: 'Open Sans';
    font-size: 16px;
    min-height: 100%;
    height: auto;
    background: #E6CCD2;
}
.h5-align-center{
    text-align: center;
}
.navbar-light .nav-item:before {
    content: "";
    position: absolute;
    top: 0;
    border: 1px solid #66C8C9;
    width: 6%;
    background: content-box;
    /* align-content: normal; */
    margin-left: -35px;
    z-index: -1;
    color:#66C8C9 !important;
}
.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: none;
}
.navbar-light .nav-item:hover
{
    z-index: 1;
}
p
{
    color: black;
}
.bg-lt {
    background-color: #9e9e9e21;
}


ul{
    list-style: none;
    padding: 0;
    margin:0;
}
p{
    font-size: 19px;
}
.ui-datepicker-current-day a
{
    border: 1.5px solid #fd5592 !important;
    border-radius: 10px !important;
}
.chosen-dates a
{
    background-image: url('../img/Heart.png');
    background-repeat: no-repeat;
    background-position: top;
    background-size: 11px;
}
.modal-footer.text-center {
    display: flex;
    justify-content: center;
}
.modal-footer .btn-danger {
    color: #fff;
    background-color: #FB6097;
    border-color: white;
    width: 60%;
    border-radius: 50px;
    /* display: block; */
}
.modal-footer .btn-danger:hover {
    background-color: none !important;
    color: white;
}
.modal textarea::placeholder {
    float: left;
    color: black;
}
textarea.moder-text.text-dark.w-100 {
    border-radius: 11px;
    display: flex;
    padding-top: 27px;

} 

img.img-fluid.banner-im.mr-3 {
    width: 1%;
}
.d-block.w-100.backghroundimagebanner {
    background-color: #e6ccd2;
    height: auto;
}

h5#exampleModalScrollableTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    /* color: black; */
    font-weight: 900;
}

.cirlcl
{
    background-image: url('../img/Heart.png'); 
}
/* td.ui-datepicker-today 
{


background-image: url('../img/Heart.png');

} */
a.ui-state-default {
    list-style: none;
}
img {
    max-width: 100%;
}
a.nav-link.btn.btn-danger {
    background: #66c8c9;
    color: white;
    border: 1px solid #66c8c9;
    border-radius: 30px;
}
a:hover {
    color: #0056b3;
    text-decoration: none; 

}
a.btn.btn-light.btn-block.mb-3 {
    border-radius: 50px;
    width: 80%;
    margin: auto;
    line-height: 2;
}
a.btn.btn-light.btn-block.mb-3{

}
.navbar-light .navbar-nav .nav-link {
    color: black;
    margin: 0px 0px;
    position: relative;
    display: block;
}
/* .navbar-light .navbar-nav .nav-link:hover {
color: #F38CAF;
border-top: 2px solid #F38CAF;
} */
ul.navbar-nav.nav-justified.ff-mbold {
    display: contents;
}
.line {
    border: 1px solid #9e9e9e9e;
    height: 2px;
    width: 100%;

    margin: 62px 0px 40px 0px;
}
/* -----button------ */
.btn1 {
    color: #FC5C9B;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
    border-radius: 30px;
    padding: 7px 28px;
}
.btn2 {
    color: #fff;
    background-color: #66C8C9;
    border-color: #f8f9fa;
    border-radius: 30px;
    padding: 7px 28px;
    margin-top: 53px;
}
/* color variable */
:root {
    --form-bg-clr:#66C8C9;
    --body-bg-clr:#6baa10;
    --text-clr:#FC5C9B;
    --form-input-clr:#94D9D9;

}
.navbar-light .navbar-toggler {

    margin-bottom: 0px;
    color: #66c8c9;
    border: 1px solid #66c8c9;
    font-size: 29px;
}
.btn-light {
    color: #66C8C9;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
    width: 221px;
    height: 47px;
    border-radius: 50px;
}
a.nav-link.btn.btn-danger {
    background: #66c8c9;
    color: white;
    border: 1px solid #66c8c9;
    border-radius: 30px;
}
a.btn.btn-light.btn-block.mb-3 {
    border-radius: 50px!important;
    width: 80% !important;

}

a.nav-link.btn.btn-danger:hover
{
    background-color: #FB6097;
    color: white;
    border: 1px solid #FB6097;
}
a.btn.btn-light.btn-block.mb-3:hover
{
    background-color:#66C8C9;
    color: white;
    transition: .5s ease-in; 
}
.bg-dan
{
    background-color: #cca2ac;
    color: white
}
.bg-dan p {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    color: white;
    /* text-align: right; */
}
.btn-light:hover
{
    background-color:#66C8C9;
    color: white;
    transition: .5s ease-in; 
}
button.btn.default.ff-bold.text-uppercase
{
    color:#66C8C9; 
}
button.btn.default.ff-bold.text-uppercase:hover
{
    background-color:#66C8C9;
    color: white;
    border-radius: 50px; 
    transition: .5s ease-in; 
}
button.btn.btn-custom {

    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;

    color:#909090;
    font-size: 18px;
    padding-left: 10px;
    margin-top: 12px;
    position: relative;
    border: none;
    margin: 0;
}
button.btn.btn2.btn-danger.btn-block:hover {
    background: #e6ccd2;
    border: 1px solid #e6ccd2;
    transition: .5s ease-in;
}
span.inner-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 0;
}
.text-blue
{
    margin-left: 40px !important;
}
.white-clr {
    color: #ffffff;
} 
button:focus{outline: none!important;}
input:focus{outline: none!important;}
a:focus{outline: none!important;}
textarea:focus{outline: none!important;}
/* ------navbar--------- */
.navbar-light .navbar-brand {
    color: rgba(0,0,0,.9);
    padding-bottom: 0;
}

.main-tital {
    padding: 29px 0px 19px;
    position: relative;
}
.main-tital h1
{
    font-size: 35px;
    position: relative
}
textarea#comment {
    color: white;
}
/* main title after before line */
.flex-parent {display: flex;align-items: center;}
.flex-child-edge {flex-grow: 2;height: 1px;background-color: #000;border: 1px #000 solid;}
.flex-child-text {flex-basis: auto;flex-grow: 0;margin: 0px 5px 0px 5px;text-align: center;}
/* main title after before line */

hr {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    border: 0;
    border-top: 2px solid rgba(0, 0, 0, 0.05);
}
.form {
    margin: 42px 0px;
    border-radius: 35px;
    box-shadow: 0px 10px 18px 3px #b1b1a7;
    background-color: var(--form-bg-clr);
    height: 300px;
}
.form-signup {
    margin: 42px 0px;
    border-radius: 35px;
    box-shadow: 0px 10px 18px 3px #b1b1a7;
    background-color: var(--form-bg-clr);
    /* height: 300px; */
}
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color:#fb6097a1 !important;
    background-clip: padding-box;
    border: none;
    border-radius: 30px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    height: 48px;
}

.form-control-1 {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color:#ffffff !important;
    background-clip: padding-box;
    border: none;
    border-radius: 30px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    height: 48px;
}
ul.navbar-nav.nav-justified.ff-bold {
    display: contents;
}
.list li a {

    border-bottom: 2px solid black;
}

.list li {
    padding: 6px 0px;
}
.form-footer.p-4 {
    background: #fff;
    height: 335px;
    border-radius: 36px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
p.mt-5 {
    margin-left: -24px;
    margin-top: 61px !important;
}
.fa
{
    color: #909090 !important;
    font-size: 25px;
}
.fac:hover{color: #007BB6 !important;}
.fat:hover{color: #62C0E9 !important;}
.fau:hover{color: red !important;}
.form-control1 {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: 18px 0px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff !important;
    background-clip: padding-box;
    border-radius: 0px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    height: 34px;
    border-bottom: 1px solid black;
    border: tr;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}
.woman .wraper {
    padding: 36px 0px;
}
.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    /* margin-top: -35px;*/
}
.carousel-caption {
    position: absolute;
    bottom: auto;
    left: 15%;
    z-index: 10;
    color: #fff;
    text-align: left;
    top: 53%;
    transform: translateY(-50%);
}
.img-top {
    padding: 39px 0px 0px 0px;
    display: flex;
    justify-content: center;
    margin: auto;
}
.card.text-center {
    padding: 40px 16px 40px 16px;
    height: 370px;
}
.wraper {
    padding: 46px;
}
.gallery1
{
    background-color: "#FC5C9B" ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.blucklist
{
    background-image: url('../img/BGBL.png')!important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    min-height: 600px;
}
.blucklist2
{
    background-image: url('../img/BGHGL.jpg')!important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    min-height: 600px;
}
.ogie-image {
    width: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.ogie-image-div p {
    padding: 0px 30px 0px 30px;
}
.woman-bg
{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.wraper-blucklist-f
{
    background-image: url('../img/BG-2.png') !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
input#birthday {
    border: none;
    background: none;
    /* margin-top: -19px; */
}
.wraper-blucklist-j
{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.h1 p {
    font-size: 2.5rem;
}
.test-wraper {
    padding-top: 48px;
}

/*footer {
    border-top: 2px solid #00000036;
}*/
.card.gallery-card {
    padding: 6px 6px 0px;
    border-radius: 0;
}
.card-title {
    margin-bottom: .75rem;

}
.blucklist h5
{
    display: flex;
}
.blucklist
{
    background-image: url('../img/BG.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.calcander
{
    background-image: url('../img/BG-3.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.card.h-100 {
    max-height: 450px !important;
    overflow-y: scroll;
}
.alert-dismissible {
    /*padding-right: 9rem;*/
}
.alert-dismissible .close {
    position: absolute;
    top: 0px;
    right: -11px;
    padding: .75rem 1.25rem;
    color: inherit;
}
.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(222, 226, 224, 0.64);
    border-bottom: 1px solid rgba(0, 0, 0, 0.09);
}
.comment-block{
    background-image: url("../img/BG.png");
    height: auto;
    width: 100%;

}
.d-block.w-100.bannerimage {
    width: 70% !important;
    display: block;
    margin: 50px;
}

.height500px {
    height: 500px;
}
.my-btn{
    background-color: #66c8c9!important;
    width: 150px;
    color: white!important;
}
.notes {
    background-image: -webkit-linear-gradient(left, white 10px, transparent 10px), -webkit-linear-gradient(right, white 10px, transparent 10px), -webkit-linear-gradient(white 30px, #ccc 30px, #ccc 31px, white 31px);
    background-image: -moz-linear-gradient(left, white 10px, transparent 10px), -moz-linear-gradient(right, white 10px, transparent 10px), -moz-linear-gradient(white 30px, #ccc 30px, #ccc 31px, white 31px);
    background-image: -ms-linear-gradient(left, white 10px, transparent 10px), -ms-linear-gradient(right, white 10px, transparent 10px), -ms-linear-gradient(white 30px, #ccc 30px, #ccc 31px, white 31px);
    background-image: -o-linear-gradient(left, white 10px, transparent 10px), -o-linear-gradient(right, white 10px, transparent 10px), -o-linear-gradient(white 30px, #ccc 30px, #ccc 31px, white 31px);
    background-image: linear-gradient(left, white 10px, transparent 10px), linear-gradient(right, white 10px, transparent 10px), linear-gradient(white 30px, #ccc 30px, #ccc 31px, white 31px);
    background-size: 100% 100%, 100% 100%, 100% 31px;
    border: none;

    font-family: Arial, Helvetica, Sans-serif;
    padding: 4px 0px;
    width: 100%;

    line-height: 1.86;
}

.not2:before
{
    content: "";

}
.notes:focus
{
    outline: none;
}
.box
{
    -webkit-box-shadow: 6px 2px 13px -1px rgba(0,0,0,0.32); 
    box-shadow: 6px 2px 13px -1px rgba(0,0,0,0.32);
}
.modal-footer {
    display: flex;
    justify-content: center;
}

textarea {
    overflow: auto;

    border: none;
    font-weight: 600;
    font-size: 15px;
}
textarea::placeholder {
    transform: translateY(-10px);
    color: black;
}
.modal-body textarea::placeholder
{
    color: black !important
}
textarea.textarea1::placeholder {
    transform: translateY(-10px);
    text-align:left;
    color: black;
}
p.ff-reg.text-dark.mt-5 {
    font-weight: 300;
    font-size: 16px;
}
.not2 textarea::placeholder {
    transform: translateY(-10px);
    text-align: left !important;
    color: black;
}
textarea.notes.not2 {
    height: 380px;
    text-align: left;
}
.card2
{
    height: 500px;
}
.carousel-indicators {
    position: absolute;
    right: -99px !important;
    bottom: -72px !important;
    left: 0;
    z-index: 15;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: flex-end;
    padding-left: 0;
    /*  /* margin-right: 15%; */
    /* margin-left: 15%; */ */
    list-style: none;
}
.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: -72px;
    left: 0;
    z-index: 15;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: flex-end;
    padding-left: 0;
    /* margin-right: 15%; */
    /* margin-left: 15%; */
    list-style: none;
}
.slider-2 .carousel-indicators li
{
    width: 15px;
    height: 15px;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    background-color: #CCCCCC;

}
.slider-2 .carousel-indicators li.active
{
    background-color: #363636;
}
.slider-2 .carousel-item {
    border: 1px solid black;
    padding: 13px;
    background-color: white;
}
.card3
{
    height: 100%;
}
.card-bg {
    width: 100%;
    background: #fff;
    border-radius: 30px;
    box-shadow: 0 0 50px 0 rgba(0,0,0,0.2);
    margin: 50px auto;
    overflow: hidden;
}
/* clander */
.datepicker {
    width: 100%;
    background: #fff;
    border-radius: 50px;
    box-shadow: 0 0 50px 0 rgba(0,0,0,0.2);
    margin: 50px auto;
    overflow: hidden;
}

.ui-datepicker-inline {
    padding: 30px;
}

.ui-datepicker-header {
    text-align: center;
    padding-bottom: 1em;
    text-transform: uppercase;
    letter-spacing: .1em;
    color: black;
}
.ui-datepicker-prev,
.ui-datepicker-next {
    display: inline;
    float: left;
    cursor: pointer;
    font-size: 1.4em;
    padding: 0 10px;
    margin-top: -10px;
    color: #CCC;
}

.ui-datepicker-next {

    height: 10px;
    width: 10px;
    background-color: #F7F8FC;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    float: right;
}
.ui-datepicker-prev
{
    height: 10px;
    width: 10px;
    background-color: #F7F8FC;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;

}


.ui-datepicker-calendar {
    width: 100%;
    text-align: center;
}
thead {
    color: black;
}

tr {
    th, 
}
td {
    padding-bottom: .5em;
}


.datepicker a {
    color: #444;
    text-decoration: none;
    list-style: none;
    display: block;
    margin: 0 auto;
    width: 28px;
    height: 39px;
    line-height: 28px;
    /* border-radius: 50%; */
    border: 1px solid transparent;
    cursor: pointer;
    /* display: block; */
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: center;
}  

.ui-state-highlight {
    border-color: #D24D57;
    color: #D24D57;
}
.datepicker   a .active
{
    background-image: url('..img/Selected Date.png');
}
textarea.w-100.text-dark.mt-3.justify-content-center {
    border-radius: 50px;
    padding: 10px 30px;
}
/* The container */
.container1 {
    display: block;
    position: relative;
    padding-left: 45px;
    margin-bottom: 28px;
    cursor: pointer;
    font-size: 17px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container1 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;

    border-radius: 50px;
    border: 1px solid #66c8c9;
}

/* On mouse-over, add a grey background color */
.container1:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container1 input:checked ~ .checkmark {
    background-color: #66c8c9;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container1 input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container1 .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.checkmark-1 {
    position: absolute;
    top: -29px;
    height: 25px;
    width: 25px;
    border-radius: 50px;
    border: 1px solid #fb6097;
    right: 10px;
}

/* On mouse-over, add a grey background color */
.container1:hover input ~ .checkmark-1 {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container1 input:checked ~ .checkmark-1 {
    background-color: #fb6097;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark-1:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container1 input:checked ~ .checkmark-1:after {
    display: block;
}

/* Style the checkmark/indicator */
.container1 .checkmark-1:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.bor-1
{
    box-shadow: 2px 2px 16px 1px #80808094;
}
.card-body li {
    padding: 0px 20px;
    border-radius: 20px;
    height: auto;
    line-height: 40px;
    margin-bottom: 20px;
    text-align: start;
    /* display: flex; */
    /* justify-content: space-between; */
    /*font-weight: bold;*/
}
.modal-body span.float-right {
    font-size: 30px;
}
.modal-body input#email {
    background: none !important;
    border-bottom: 1px solid black !important;
    border-radius: 0px !important;
}
form.form-inline {
    display: flow-root;
    /* justify-content: space-between; */
    justify-content: center;
}
.modal-header span.float-right {
    font-size: 70px;
}
.postive h5#exampleModalScrollableTitle {
    float: left !important;
}
.postive .modal-body
{
    background-image: url('../img/1a.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.Health .modal-body
{
    background-image: url('../img/2a.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.Love .modal-body
{
    background-image: url('../img/3a.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.Personal .modal-body
{
    background-image: url('../img/4a.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
.postive .modal-header
{
    background-color:#66C8C9;
}
.Health .modal-header
{
    background-color:#66C8C9;
}
.Love .modal-header
{
    background-color:#66C8C9;
}
.Personal .modal-header
{
    background-color:#66C8C9;
}
.card1
{
    border-radius: 30px;
    height: 70px;
    border: 1px solid red;
}
textarea.form-control {
    height: auto;
    line-height: 30px;
    color: black !important;
    background-color: white !important;
    border: 1px solid black;
    margin-top: 15px;
}
/* .modal-body textarea.form-control::-webkit-input-placeholder { /* WebKit browsers */
/* line-height:30px; */
/* } */ */
.modal-body .form-control {



    padding: 20px 40px;
}
.modal-body input#birthday {
    border: none;
    background: none;
    margin-top: -19px;
    margin-bottom: 30px;
    border-bottom: 1px solid black;
}


@media (max-width: 576px){
    .d-block.justify-content-center.align-items-center.m-auto.p-2 {
        text-align: center;
    }span.bg-white.ff-bold.text-dark.h1.font-weight-bold.text-uppercase {
        font-size: 26px;
    }span.ff-bold.bg-white.text-dark.h1.font-weight-bold {
        font-size: 23px;
    }span.p-1.bg-white.ff-bold.p.text-dark {
        font-size: 15px;
    }
    .test-wraper h1
    {
        font-size: 17px;
    }
    .form-footer h5.text-center.ff-bold {
        font-size: 18px;
    }p {
        font-size: 14px;
    }
    .nav-justified .nav-item a {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        text-align: center;

        border-bottom: 1px solid #66c8c9;
        margin-bottom: 10px;
    }
    .nav-justified .nav-item {

        margin-bottom: 10px;
    }

    .navbar-light .navbar-toggler {

        font-size: 23px;
        margin-bottom: 28px;
    }
    h2.text-center.ff-bold.gard {
        font-size: 23px;
    }
    .form-footer{margin-top: 20px;}
    .woman h1{font-size: 20px;}
    .woman p{font-size: 14px;}
    .home{margin-left: 100px;}
    .n{
        display: none;
    }
    a.nav-link.btn.btn-danger {

        margin-bottom: 44px;
    }
    .text-blue
    {
        margin-left: 0px !important;
    }
    .one
    {
        display: none;
    }
    /* home page */
    .text-woman p{font-size: 14px; line-height: 25px}
    .text-woman h1 {
        font-size: 22px;
    }
    footer{text-align: center;}
    ul.nav.social {display: flex;justify-content: center;}
    p.mt-5 {display: none;}
    .list.ml-5 {margin-left: 0px !important;padding: 30px;}
    li.nav-item {margin: 0px -7px;} 
    .sign-in h1 {font-size: 29px;}
    .main-tital {padding: 25px 0px 9px;}
    .main-tital h1{font-size: 15px;}
    .main-tital p{font-size: 14px;}
    .bg-light {background-color: #f8f9fa!important;height: auto;}

    a.navbar-brand {padding-top: 0;padding-bottom: 16px;}

    .logo-img img{width: 60%;}
    .carousel-caption h1{font-size: 20px;}
    .carousel-caption p{display: none;}
    .carousel-caption {top: 57%;}
    span.carousel-control.ff-bold {display: none;}
    .carousel-caption{left: 10%;}

    /* about page */

    /* about us */
    .about-text h5 {text-align: center !important;}
    .about-text h1{text-align: center !important;     font-size: 30px;}
    .about-p{font-size: 14px; text-align: center !important;line-height:2;}
    /* blucklist */
    .alert h5{font-size: 15px;}
    /* card */
    .card-title h3{font-size: 20px;}
    .mt-card{margin-top: 31px}
    /*  contact */
    .contact-p{text-align: center !important;}
    .contact-h h1{text-align: center !important;}
    .alert-dismissible {padding-right:0rem !important; }
    .carousel-indicators{display: none;}
    .carousel-item{border: none;text-align: center;}
    .carousel-item p{text-align: center !important;margin-top: 10px;}
    .carousel-item h4 {text-align: center !important}
    .navbar-light .navbar-brand {
        color: rgba(0,0,0,.9);
        padding-bottom: 20px;
    }
    .my-btn
    {
        margin-top: 20px;
    }
    textarea.notes {
        font-size: 12px;
    }

}

@media (min-width: 576px) and (max-width: 768px){
    .checkmark-1 {
        right: 10px !important;
    }
    .test-wraper h1
    {
        font-size: 27px;
    }
    .nav-justified .nav-item a {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        text-align: center;

        border-bottom: 1px solid #66c8c9;
        margin-bottom: 10px;
    }
    .nav-justified .nav-item {

        margin-bottom: 10px;
    }
    .home {
        margin-left: 38px;
    }
    .form-footer{margin-top: 20px;}
    a.nav-link.btn.btn-danger {

        margin-bottom: 44px;
    }
    .my-btn
    {
        margin-top: 20px;
    }
    .navbar-light .navbar-brand {
        color: rgba(0,0,0,.9);
        padding-bottom: 10px;
    }
    /* home page */

    .main-tital h1{font-size: 21px;}
    p{font-size: 14px;  }
    .text-woman h1{font-size: 26px}
    p.mt-5 {display: none;
    }  
    a.navbar-brand {padding-top: 0;padding-bottom: 12px;}
    .logo-img img{width: 80%;}
    .carousel-caption h1{font-size: 27px;}
    .carousel-caption p{font-size: 13px;}
    .carousel-caption {top: 57%;}
    span.carousel-control.ff-bold {display: none;}
    .carousel-caption{left: 10%;}
    /* about us */
    .about-text h5 {text-align: center !important;}
    .about-text h1{text-align: center !important;     font-size: 30px;}
    .about-p{font-size: 14px; text-align: center !important;line-height:2}
    /* blucklist */
    .alert h5{font-size: 14px;}
    /* card */
    .card-title h3 {
        font-size: 14px;
    }
    /*  contact */
    .contact-p{text-align: center !important;}
    .contact-h h1{text-align: center !important;}
    .carousel-indicators{display: none;}
    /* .test-img img
    {
    width: 40%;
    } */

}



@media (min-width: 768px) and (max-width: 992px){
    .card-title h3 {
        font-size: 17px;
    }
    .form-footer{margin-top: 20px;}
    textarea.notes {
        font-size: 14px;
    }
    p.mt-5 {
        display: none;
    }
    nav.navbar.navbar-expand-md.bg-light.navbar-light {padding-top: 0;}
    .navbar-light .navbar-nav .nav-link {margin: 0px 0px;font-size: 11px;}
    .carousel-caption h1{font-size: 34px;}
    .carousel-caption p{font-size: 14px;}
    .carousel-caption {top: 57%;}
    .card-title h3{font-size: 20px;}
    /*  contact */
    .contact-p{text-align: center !important;}
    .contact-h h1{text-align: center !important;}
}
@media (max-width: 1200px){
    .notes_gratitude{
        line-height: 2.1 !important;
    }
}
@media (min-width: 992px) and (max-width: 1200px){
    .card-title h3 {
        font-size: 17px;
    }
    textarea.notes {
        font-size: 12px;
    }
    .navbar-light .navbar-nav .nav-link {

        margin: 0px 0px;
        font-size: 14px;
    }
    .carousel-caption h1
    {
        font-size: 40px;
    }
    .carousel-caption p
    {
        font-size: 16px;
    }
    .carousel-caption {


        top: 55%;

    }
    .alert-dismissible {
        padding-right:0rem !important; 
    }

}
@media (min-width: 1200px) and (max-width: 1500px)
{
    .card-title h3 {
        font-size: 20px;
    } 
}

@media (max-width: 740px)
{

    .checkmark-1 {
        right: -30px !important;
    }
}
