h1, h2, h3, h4, h5, h6{

	font-family: 'cooperhewittbook';
}
.banner h1, .banner p, body.home-2 .banner h1, body.home-2 .banner p{

	font-family: 'cooperhewittbook';
}
nav.navbar.bootsnav.navbar-transparent.white .attr-nav>ul>li>a, nav.navbar.bootsnav.navbar-transparent.white ul.nav>li>a, nav.navbar.bootsnav.no-background.white .attr-nav>ul>li>a, nav.navbar.bootsnav.no-background.white ul.nav>li>a{
	font-family: 'cooperhewittbook';
	font-size: 17px;
}
body, h1, h2, h3, h4, h5, h6, input[type=text], input[type=password], input[type=email], textarea, select, input[type=button], input[type=submit], button, #tiptip_content, .map-box p, .map-box div, .numerical-rating .rating-counter, body .menu-responsive i.menu-trigger:after{

	font-family: cooperhewittlight,helveticaneue,helvetica neue,Helvetica,Arial,sans-serif;
}
.listing-description{
	font-size: 16px;
}
.book-now-btn:hover{
background-color: #ffbe4a !important;
color:#f5f5f5 !important;
}
.white-bg{background-color: #fff;}
.small-listing-box p{margin-bottom: 10px;height:24px;overflow: hidden;}
.pagination li{display: inline;}
.dashboard #logo a{margin-left: 17px;}

/*New CSS Added On 11/06/2018 */
.btn-srch .btn {background-color: transparent;color: #ffbe4a;border: 1px solid #ffbe4a;}
.btn-srch .btn.active, .btn-srch .btn:hover {background-color: #ffbe4a;color: #fff;box-shadow: none;}
.sub-newsletter .headline {color: #fff;}
.sub-newsletter {background-color: #ffbe4a;}
.listing-shot-info.bkng{border-top:1px solid rgba(71,85,95,.11);}
.listing-shot-info.rating{border-top:none; padding:0; text-align:right;}
.bk-slots .bk-item .btn {float: none !important;padding: 2px 12px;color:#ffbe4a;}
.bk-slots .bk-item .sl-price {display: block;text-align: center;background-color: #333;color: #fff;width: 65px;margin: 5px auto auto auto;line-height: 22px;}
.bk-slots .bk-item {width: 27%;display: inline-block;overflow: hidden;text-align: center;}
.bk-slots > span.pull-left {padding-top: 15px;text-transform: uppercase;color: #333;}
.tab-content.listing-st .tab-pane .verticleilist.listing-shot .listing-shot-img img{max-width:100%; margin:0;}
.tab-content.listing-st, .tab-content.listing-st .tab-pane {padding: 0;}
.tab-views {border: none;float: right;margin-bottom: 20px;}
#grid-v .bk-slots .bk-item {width: 32%;}
#grid-v .bk-slots > span.pull-left {float: none !important;text-align: center;display: block;padding-top: 0;}
#grid-v .verticleilist.listing-shot{display:block;}

/*New Css added on 29/07/2018 For Dashboard*/

.dash-tabs li a {border: none !important;background-color: #e2e2e2;color: #a9a9a9;font-weight: 600;font-size: 16px;border-radius: 50px !important;margin: 0 5px;padding: 12px;margin-bottom: 10px;}
.dash-tabs {border: none;text-align: center; margin-bottom: 25px;}
.dash-tabs li {float: none;display: inline-block;width: 14%;}
.dash-tabs.nav-tabs > li.active > a, .dash-tabs.nav-tabs > li.active > a:focus, .dash-tabs.nav-tabs > li.active > a:hover, .dash-tabs.nav-tabs > li > a:hover {background-color: #ffbe4a;color: #fff;}
.dash-tabs li a::before {display: block;content: "";border-style: solid;border-width: 8px;width: 0;height: 0;border-color: #ffbe4a transparent transparent transparent;position: absolute;bottom: -15px;left: 50%;margin-left: -7px;display: none;opacity: 0;}
.dash-tabs.nav-tabs > li.active > a::before, .dash-tabs.nav-tabs > li.active > a:focus::before, .dash-tabs.nav-tabs > li.active > a:hover::before{display:block; opacity:1;}
.dash-content .dashboard-list-box {background-color: #fff;padding: 20px;}

.dash-content .table thead th {color: #333;font-weight: 700;font-size: 16px;}
.dash-content .table thead th, .dash-content .table tbody td {vertical-align: middle;}
.tbl-btn-grp .dropdown-menu {left: auto;right: 0;top: auto;bottom: -20px;}
.tbl-btn-grp .dropdown-menu li {padding: 0;border: none !important;}
.dash-content.tab-content > .tab-pane {padding: 0;}

.filter-box {background-color: #eee;padding: 20px;line-height: 8px;}
.filter-box .form-group, .filter-box form, .filter-box input {margin-bottom: 0;}
.dash-content .chosen-container-single .chosen-single div, .cnt-box .chosen-container-single .chosen-single div{top:0;}
.dash-content .dashboard-list-box .button {padding: 12px 20px;font-size: 15px;margin-bottom: 3px;}
.dash-content .form-group label {font-size: 15px;font-weight: 600;color: #333;margin-bottom: 9px;}
.dash-content .form-control, .cnt-box .form-control {background-color:#fff;} 

.edit-profile-photo.banner-img {height: 200px;text-align: center; width:100%;}
.edit-profile-photo.banner-img .no-img {border: 2px dashed #ddd;height: 100%;}
.cnt-box .form-group label{margin-top:0 !important;}
.cnt-box.my-profile textarea{height:auto;}

.edit-profile-photo {width: 230px;height: 230px;margin: auto auto 35px auto;position: relative;}
.edit-profile-photo img {max-width: 100%;max-height: 100%;}
.conf-box {max-width: 500px; margin:auto; background-color:#fff;padding: 40px;padding-top: 0;text-align: left;margin: 40px auto;position: relative;box-sizing: border-box;border-radius: 4px;}
.conf-box .mfp-close{top: 3px;right: 3px;background-color: transparent;color: #666;border-radius: 50%;width: 40px;height: 40px;}
.conf-box .mfp-close:hover {color: #fff;transform: rotate(0);background-color: #ffbe4a;}
.conf-box .mfp-close::after, .conf-box .mfp-close::before{top: 4px;height: 9px;font-size: 21px;transition: 0s;}
.conf-box .cta-btn button {border-radius: 50px;padding: 6px;width: 120px;margin: 0 5px;font-size: 15px;font-weight: 700;}
.conf-box i {font-size: 62px;line-height: 62px;padding: 25px 0;display: block;}
/*New Css added on 29/07/2018 For Dashboard*/

.small-list-detail{
	max-width:75%;
}
.small-list-detail h4 span{
	font-size: 14px;
}
@media (max-width:1024px){
	.verticleilist.listing-shot .listing-item{min-height:292px;}	
	.dash-tabs li{width:25%;}
}
@media(max-width:640px){
	.btn-srch .btn {padding: 5px 20px !important;}
	.btn-group.btn-srch .btn {width: auto !important;}
	.bk-slots .bk-item {width: 32% !important;}
	.bk-slots > span.pull-left {float: none !important;display: block;text-align: center;padding-top: 0;}
}
@media(max-width:400px) {
	.btn-srch .btn {
		padding: 5px 11px !important;
	}
}
@media (max-width:992px){
	.btn-group.btn-srch .btn {width: 33%;}
	.btn-group.btn-srch {width: 100%;}
	.sub-newsletter .button {background-color: #fff;color: #ffbe4a;width: 100%;}
	.verticleilist.listing-shot .listing-item{min-height:220px;}	
}