.mb-10{margin-bottom: 10px;}
.mt-10{margin-top:10px;}

#sign-in-dialog .mfp-close, #small-dialog .mfp-close{
	top: 3px;
	right: 3px;
	background-color: transparent;
}
.google-btn{
background-color:#DB4437 !important; border-color: #DB4437 !important;

}
.facebook-btn{

	background-color:#3b5998 !important; border-color: #3b5998 !important;
}

body, h1, h2, h3, h4, h5, h6, input[type=text], input[type=password], input[type=email], textarea, select, input[type=button], input[type=submit], button, #tiptip_content, .map-box p, .map-box div, .numerical-rating .rating-counter, body .menu-responsive i.menu-trigger:after{

	font-family: cooperhewittlight,helveticaneue,helvetica neue,Helvetica,Arial,sans-serif;
}