/* ----------------------------------------------------------------
	Global
-----------------------------------------------------------------*/

html.enlarge {
    font-size: 110%;
}

html.shrink {
    font-size: 90%;
}

body.remove-images img {
    opacity: 0;
    visibility: hidden;
}

body.remove-images *:not(.overlay):not(#top-bar):not(.sticky-header) {
    background-image: none !important;
}

body.remove-images .standard-logo > img {
    opacity: 1;
    visibility: visible;
}

body.invert *:not(img):not([data-background]) {
    -webkit-filter: invert(100%);
    -moz-filter: invert(100%);
    -o-filter: invert(100%);
    -ms-filter: invert(100%);
    filter: invert(100%);
}

dl, dt, dd, ol, ul, li {
    margin: 0;
    padding: 0;
}

.clear {
    clear: both;
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    width: 100%;
    overflow:hidden;
}

::selection {
    background: #6c4099;
    color: #FFF;
    text-shadow: none;
}

::-moz-selection {
    background: #6c4099; /* Firefox */
    color: #FFF;
    text-shadow: none;
}

::-webkit-selection {
    background: #6c4099; /* Safari */
    color: #FFF;
    text-shadow: none;
}

:active,
:focus { outline: none !important; }

.container, .container-fluid, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
    padding-right: .9375rem;
    padding-left: .9375rem;
}

body {
    line-height: 1.5;
    color: #000;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
    font-size: 1rem;
    font-weight: 400;
}

a {
    cursor: pointer;
    text-decoration: none !important;
    color: #6c4099;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

a:hover {
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
    text-decoration: none;
    color: #444;
}

a.disabled:hover, a:disabled:hover {
    color: #6c4099;
}

a img { border: none; }

img {
    display: block;
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #000;
    font-weight: 700;
    line-height: 1.5;
    margin: 0 0 1.875rem 0;
    font-family: 'Signika', sans-serif;
}

h5,
h6 { margin-bottom: 1.25rem; }

h1 { font-size: 2.25rem; }

h2 { font-size: 1.875rem; }

h3 { font-size: 1.5rem; }

h4 { font-size: 1.125rem; }

h5 { font-size: .875rem; }

h6 { font-size: .75rem; }

iframe { border: none !important; }

p,
pre,
ul,
ol,
dl,
dd,
blockquote,
address,
table,
fieldset,
form { margin-bottom: 1.875rem; }

blockquote {
    position: relative;
    opacity: .8;
    font-style: italic;
    font-weight: 600;
    padding-left: 1.875rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-left: 3px solid rgba(0, 0, 0, .8);
}

blockquote > * {
    margin: 0;
}

blockquote:before {
    content: '\f10d';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    position: absolute;
    top: -.5rem;
    left: .5rem;
    font-size: 2.75rem;
    opacity: .15;
    z-index: 1;
}

/* ----------------------------------------------------------------
	Helper Classes
-----------------------------------------------------------------*/

.h1-responsive { font-size: 150%; }

.h2-responsive { font-size: 145%; }

.h3-responsive { font-size: 135%; }

.h4-responsive { font-size: 135%; }

.h5-responsive { font-size: 135%; }

@media (min-width: 576px) {
    .h1-responsive { font-size: 170%; }

    .h2-responsive { font-size: 140%; }

    .h3-responsive { font-size: 125%; }

    .h4-responsive { font-size: 125%; }

    .h5-responsive { font-size: 125%; }
}

@media (min-width: 768px) {
    .h1-responsive { font-size: 200%; }

    .h2-responsive { font-size: 170%; }

    .h3-responsive { font-size: 140%; }

    .h4-responsive { font-size: 125%; }

    .h5-responsive { font-size: 125%; }
}

@media (min-width: 992px) {
    .h1-responsive { font-size: 200%; }

    .h2-responsive { font-size: 170%; }

    .h3-responsive { font-size: 140%; }

    .h4-responsive { font-size: 125%; }

    .h5-responsive { font-size: 125%; }
}

@media (min-width: 1200px) {
    .h1-responsive { font-size: 250%; }

    .h2-responsive { font-size: 200%; }

    .h3-responsive { font-size: 170%; }

    .h4-responsive { font-size: 140%; }

    .h5-responsive { font-size: 125%; }
}

.t100 { font-weight: 100 !important; }

.t200 { font-weight: 200 !important; }

.t300 { font-weight: 300 !important; }

.t400 { font-weight: 400 !important; }

.t500 { font-weight: 500 !important; }

.t600 { font-weight: 600 !important; }

.t700 { font-weight: 700 !important; }

.ls1 { letter-spacing: .0625rem !important; }

.ls2 { letter-spacing: .125rem !important; }

.ls3 { letter-spacing: .1875rem !important; }

.ls4 { letter-spacing: .25rem !important; }

.ls5 { letter-spacing: .3125rem !important; }

.uppercase { text-transform: uppercase; }

.lowercase { text-transform: lowercase; }

.capitalize { text-transform: capitalize; }

.t-light { color: #fff !important; }

.t-dark { color: #444 !important; }

.divider {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 2.8rem .9375rem;
    width: 100%;
}

h1.divider, h2.divider, h3.divider, h4.divider, h5.divider, h6.divider {
    margin-bottom: 0;
}

.divider:before, .divider:after {
    content: '';
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: .1875rem;
    background: #f0efee;
}

.pagination {
    margin: 0 auto;
}

.page-link {
    color: #6c4099;
}

.page-item.active .page-link {
    background: #6c4099;
    border-color: #6c4099;
}

.page-link:hover {
    color: #61368e;
}

.z-depth-0 {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.z-depth-1 {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
}

.z-depth-1-half {
    -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15) !important;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15) !important;
}

.z-depth-2 {
    -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}

.z-depth-3 {
    -webkit-box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19) !important;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19) !important;
}

.z-depth-4 {
    -webkit-box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21) !important;
    box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21) !important;
}

.z-depth-5 {
    -webkit-box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22) !important;
    box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22) !important;
}

.hoverable {
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

.hoverable:hover {
    -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

.flex-center-column {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.flex-center-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    flex-direction: row;
}

.hr-light {
    border-top: 1px solid #fff;
}

.hr-dark {
    border-top: 1px solid #666;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.text-center {
    text-align: center !important;
}

.center-align {
    margin-right: auto;
    margin-left: auto;
}

/* ----------------------------------------------------------------
	Sections
-----------------------------------------------------------------*/

.page-section {
    position: relative;
    padding: 5rem 0;
}

.main-section {
    position: relative;
}

.main-section,
.page-section,
[data-background] {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-bg[data-background] {
    position: absolute;
    left: 0;
    top: 0;
    width: 130%;
    height: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
}

.background-overlay {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: .6;
}

.background-overlay + .container {
    position: relative;
    z-index: 1 !important;
}

.page-section .section-raised {
    margin: -8.75rem auto 0;
    z-index: 10;
}

.page-section .section-raised .row {
    -ms-flex-pack: center !important;
    justify-content: center !important;
}

.section-title {
    font-family: 'Signika', sans-serif !important;
    margin-top: 0;
    text-align: center;
    margin-bottom: 2.25rem;
}

.section-title + .section-subtitle {
    margin-top: -2rem;
}

.section-title > * {
    font-size: 2.25rem;
    color: #6a419a;
}

.section-subtitle {
    max-width: 32.5rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.section-subtitle > * {
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-style: italic;
    opacity: .8;
}

.section-content {
    position: relative;
}

.section-content > .title {
    font-family: 'Signika', sans-serif;
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
}

.section-content > .title > * {
    font-size: 2.25rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.light, .light > * {
    color: #fff !important;
}

.section-content > .description.boxed {
    max-width: 41.25rem;
    margin-left: auto;
    margin-right: auto;
}

.section-content > .description > * {
    font-size: 1.375rem;
}

.regular, .regular > * {
    font-weight: 400 !important;
}

.semi-bold, .semi-bold > * {
    font-weight: 600 !important;
}

.bold, .bold > * {
    font-weight: 700 !important;
}

@media (min-width: 576px) {
    .section-title { font-size: 1.5rem; }

    .section-subtitle { font-size: 1rem; }
}

@media (min-width: 768px) {
    .section-title { font-size: 1.75rem; }

    .section-subtitle { font-size: 1.15rem; }
}

@media (min-width: 992px) {
    .section-title { font-size: 2.50rem; }

    .section-subtitle { font-size: 1.35rem; }
}

/* ----------------------------------------------------------------
	Buttons
-----------------------------------------------------------------*/

.button {
    font-family: 'Signika', sans-serif;
    padding: 0.84rem 3rem;
    font-size: 1rem;
    -webkit-transition: all 150ms ease;
    -moz-transition: all 150ms ease;
    -ms-transition: all 150ms ease;
    -o-transition: all 150ms ease;
    transition: all 150ms ease;
    margin: 0.375rem 0;
    border: 0;
    -webkit-border-radius: 0.125rem;
    border-radius: 0.125rem;
    cursor: pointer;
    text-transform: uppercase;
    white-space: normal;
    word-wrap: break-word;
    color: #fff;
}

.button:hover {
    -webkit-box-shadow: 0 14px 26px -12px rgba(0, 0, 0, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 14px 26px -12px rgba(0, 0, 0, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.button.primary-button {
    background: #6c4099;
}

.button.rounded-button {
    border-radius: 1.75rem;
}

.button.primary-button:hover {
    color: #fff;
}

.button.secondary-button {
    background: #d105c6;
}

.button.secondary-button:hover {
    color: #fff;
}

.button.light-button {
    background: #fff;
    color: #6383ca;
}

.button.light-button:hover {
    color: #fff;
    background: #6383ca;
}

.button.gradient-button {
    background: linear-gradient(to right, #79ccff, #6170ff);
}

.button.rounded-button {
    -webkit-border-radius: 1.6rem;
    -moz-border-radius: 1.6rem;
    border-radius: 1.6rem;
}

.main-section {
    height: 39rem;
}

body.inner-page .main-section {
    height: 21.125rem;

    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    flex-direction: column;
}

body.inner-page .main-section .section-content > .title > * {
    margin-top: 4rem;
    font-family: 'Signika', sans-serif;
    margin-bottom: 0;
    font-weight: 600;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

#slider .swiper-slide {
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    flex-direction: column;
}

.swiper-button-next, .swiper-button-prev {
    background-image: none;
    top: unset;
    bottom: 0;
    width: 3rem;
    height: 3rem;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

#slider .swiper-button-next,
#slider .swiper-button-prev {
    bottom: unset;
    top: 50%;
}

#slider .swiper-button-next {
    right: 2rem;
    transform: translateX(0);
}

#slider .swiper-button-prev {
    left: 2rem;
    transform: translateX(0);
}

#news .swiper-button-next, #news .swiper-button-prev {
    color: #6c4099;
}

.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
    opacity: 1;
}

.swiper-button-next {
    right: 47%;
    transform: translateX(50%);
}

.swiper-button-prev {
    left: 47%;
    transform: translateX(-50%);
}

.swiper-button-next:before {
    content: '\e811';
    font-family: 'font-icons';
    font-weight: normal;
    font-size: 3rem;
}

.swiper-button-prev:before {
    content: '\e810';
    font-family: 'font-icons';
    font-weight: normal;
    font-size: 3rem;
}

.swiper-slide > * {
    position: relative;
}

.slider-section .slide-title > * {
    font-size: 2.8125rem;
    color: #fff;
    margin-bottom: 1rem;
}

.slider-section .slide-sub-title > * {
    font-size: 1.5rem;
    color: #fff;
    margin-bottom: 4rem;
}

.overlay {
    content: '';
    position: absolute !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: .7;
}

.sidebar-widget .overlay {
    opacity: inherit;
}

.search-overlay {
    position: fixed;
    background: rgba(0, 0, 0, .9);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;

    visibility: hidden;
    opacity: 0;
    transform: translateY(-100%);

    display: flex;
    justify-content: center;
    align-items: center;

    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

.search-overlay.active {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

.search-overlay > .overlay-content {
    width: 60vw;
}

.search-overlay .overlay-close {
    cursor: pointer;
    position: fixed;
    right: 2rem;
    top: 1.5rem;
}

.search-overlay .overlay-close > i {
    font-size: 2rem;
}