/* body {
    background-color: rgb(247, 247, 247);
} */

.career-main-section {
  padding-top: 7rem;
  top: -6.25rem;
  height: 400px;
}
.career-main-content {
  margin-top: 100px;
  text-align: center;
}

.career-main-content-heading {
  color: #fff;
  font-family: "Signika", sans-serif;
  font-size: 2.5rem;
}

.career-join-team {
  margin-top: -3rem;
  margin-bottom: 2rem;
}
.join-team-content {
  position: relative;
}
.join-team-content .join-team-content-fade-text {
  font-weight: 900;
  opacity: 0.1;
  position: absolute;
  z-index: -10;
  font-size: 4rem;
  top: -20px;
  right: 3px;
}

.join-team-image {
  position: relative;
  width: 100%;
  margin: auto;
}
/* 
.join-team-image::before {
  content: "";
  position: absolute;
  top: -20px;
  right: -20px;
  width: 150px;
  height: 150px;
  background-image: linear-gradient(45deg, #5bc6fb, #d105c6);
  z-index: -1;
}

.join-team-image::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: -20px;
  width: 150px;
  height: 150px;
  background-image: linear-gradient(45deg, #d105c6, #5bc6fb);
  z-index: -1;
} */

.join-team-image img {
  width: 100%;
  z-index: 1;
}

.join-team-content-heading {
  font-family: "Signika", sans-serif;
  position: relative;
}

/* .join-team-content-heading::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0px;
  width: 150px;
  height: 2px;
  background-image: linear-gradient(90deg, #d105c6, #5bc6fb);
  z-index: -1;
} */

.join-team-content-text {
  font-size: 1.2rem;
}

.join-team-content-btn {
  padding: 10px 20px;
  background: #d105c6;
  color: white;
  transition: 0.4s ease;
  text-decoration: none;
  border-radius: 3px;
  font-weight: bold;
}

.join-team-content-btn:hover {
  text-decoration: none;
  color: white;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.career-support {
  margin-top: 30px;
}

.support-heading {
  font-family: "Signika", sans-serif;
  position: relative;
  margin-bottom: 20px;
}
/* 
.support-heading::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0px;
  width: 150px;
  height: 2px;
  background-image: linear-gradient(90deg, #d105c6, #5bc6fb);
  z-index: -1;
} */

.support-role {
  position: relative;
  font-size: 1.1rem;
  transition: 0.4 ease;
  padding-top: 12px;
  padding-bottom: 12px;
  min-height: 180px;
}
.support-role:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  border-bottom: 3px solid #d105c6;
}
/* .support-role::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 2px;
  width: 100%;
  background-image: linear-gradient(90deg, #d105c6, #5bc6fb);
} */


.work-content-heading {
    font-family: "Signika", sans-serif;
    position: relative;
  }
  
  /* .work-content-heading::before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0px;
    width: 150px;
    height: 2px;
    background-image: linear-gradient(90deg, #d105c6, #5bc6fb);
    z-index: -1;
  } */

  .work-content-text {
    font-size: 1.2rem;
  }

  .vacancy {
      margin-bottom: 10px;
  }
.vacancy-heading {
    margin-bottom: 10px;
    font-weight: normal;
}

.vacancy-exp,
.vacancy-qual {
    font-size: 12px;
    margin: 2px;
}

.vacancy-apply-btn {
   padding: 10px 35px;
   background: #d105c6;
   border-color: #d105c6;
    border-radius: 50px;
    transition: .4s ease-in;
}
.vacancy-apply-btn:hover {
  background: #d105c6;
  border-color: #d105c6;
  -webkit-box-shadow: 0 14px 26px -12px rgba(0, 0, 0, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
box-shadow: 0 14px 26px -12px rgba(0, 0, 0, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.skills-heading {
    font-weight: normal;
    margin-bottom: 8px;
}
.skill-list li {
    margin-bottom: 8px;
    color: #777;
}
  .vacancy-num {
      position: relative;
      font-weight: normal;
  }

  .vacancy-num::after {
      content: "";
      position: absolute;
      bottom: -10px;
      left: 0;
      height: 2px;
      background: #000;
      width: 30px;
  }
  .vacancy-area-heading h1 {
      font-weight: normal;
  }


.career-testimonial-slide {
    padding: 20px;
    border-radius: 5px;
}

.career-testimonial-text {
    background: #6c4099;
    color: #fff;
    min-height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 10px;
    position: relative;
    border-radius: 5px;
}

.career-testimonial-text::after {
    position: absolute;
    content: "";
    bottom: -47px;
    right: 50px;
    height: 0px;
    width: 0px;
    border: 20px solid transparent;
    border-top: 50px solid #6c4099;
    transform-origin: top right;
    transform: scale(2) rotate(35deg);
    z-index: -1;
}
.career-testimonial-text p {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.career-testimonial-person {
    font-size: 13px;
    margin: 8px;
    padding-left : 10px;
}

.career-testimonial-person p {
    margin: 5px;
}

/* .vacancy-area-heading {
background: #6c4099;
margin: -10px;
margin-bottom: 20px;
} */

.vacancy-area-heading h1 {
    padding: 15px ;
    padding-bottom: 0px;
}


.career-swiper-button-prev, 
.career-swiper-button-next {
    padding-top: 25px;
    color: #6c4099;
    z-index: 10;
}
@media(min-width: 992px) {
  .career-swiper-button-next {
    transform: translateX(40px) !important;
 }
 .career-swiper-button-prev {
   transform: translateX(-40px) !important;
 }
}

.gradient-text {
  background: linear-gradient(to right, #6b4099, #5bc6fb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
