/* ----------------------------------------------------------------
	Top Bar
-----------------------------------------------------------------*/
#top-bar {
    position: relative;
    background: linear-gradient(to right, #6b4099, #5bc6fb);
    height: 3.75rem;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    flex-direction: row;
    font-size: .8152rem;
}


/* Top Links
---------------------------------*/


.top-links {
    position: relative;
    float: left;
    width: 100%;
}

.top-links ul {
    margin: 0;
    list-style: none;
    display: flex;
}

.top-links ul li {
    position: relative;
    height: 3.75rem;
    border-left: 1px solid rgba(255, 255, 255, .1);

    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;

    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

.top-links ul li.right {
    margin-left: auto;
    border-left: none;
}

.top-links ul li:first-child,
.top-links ul ul li { border-left: 0 !important; }

.top-links li > a {
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    flex-direction: column;

    padding: 0 .75rem;
    font-size: .75rem;
    font-weight: 600;
    height: 3.75rem;
    color: #fff;
}

.top-links li > a i {
    font-size: 1.25rem;
    margin: 0;
}

.top-links li:hover,
.top-links li.active { background-color: #fff; }

.top-links li:hover > a,
.top-links li.active > a { color: #000; }

.top-links ul ul,
.top-links ul div.top-link-section {
    display: none;
    pointer-events: none;
    position: absolute;
    z-index: 210;
    line-height: 1.5;
    background: #FFF;
    border: 0;
    top: 44px;
    left: 0;
    width: 140px;
    margin: 0;
    border-top: 1px solid #1ABC9C;
    border-bottom: 1px solid #EEE;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
}

.top-links li:hover ul,
.top-links li:hover div.top-link-section { pointer-events: auto; }

.top-links ul div.top-link-section {
    padding: 25px;
    left: 0;
    width: 280px;
}

.device-md #top-bar .col_half.col_last,
.device-sm #top-bar .col_half.col_last,
.device-xs #top-bar .col_half.col_last { float: none; }

.device-md #top-bar-subscribe,
.device-sm #top-bar-subscribe {
    float: right;
    border-left: 0;
}

.device-xs #top-social,
.device-xs #top-bar-subscribe {
    float: none;
    text-align: center;
    width: auto;
}

.device-xs #top-social {
    border-bottom: 1px solid #EEE;
    height: 44px;
}

.device-xs #top-social ul { display: inline-block; }

/* ----------------------------------------------------------------
	Primary Menu
-----------------------------------------------------------------*/

#primary-menu.right { margin-left: auto; }

#header-wrap > .search-icon {
    font-size: 1.5rem;
    color: #fff;
    margin-left: .875rem;
}

#primary-menu ul.mobile-primary-menu { display: none; }

#header.full-header #primary-menu > ul {
    float: left;
    padding-right: .875rem;
    margin-right: .875rem;
}

#header.transparent-header.full-header #primary-menu > ul { border-right-color: rgba(0,0,0,0.1); }

#primary-menu-trigger,
#page-submenu-trigger {
    opacity: 0;
    pointer-events: none;
    cursor: pointer;
    font-size: 1.5rem;
    position: absolute;
    top: 50%;
    margin-top: -1.5rem;
    width: 3.125rem;
    height: 3.125rem;
    line-height: 3.125rem;
    text-align: center;
    -webkit-transition: opacity 300ms ease;
    -moz-transition: opacity 300ms ease;
    -ms-transition: opacity 300ms ease;
    -o-transition: opacity 300ms ease;
    transition: opacity 300ms ease;
}

#primary-menu ul {
    list-style: none;
    margin: 0;
}

#primary-menu > ul { float: left; }

#primary-menu ul li {
    position: relative;
}

#primary-menu ul li.mega-menu { position: inherit; }

#primary-menu ul > li {
    float: left;
    margin-left: 2px;
}

#primary-menu > ul > li:first-child { margin-left: 0; }

#primary-menu ul li > a {
    display: block;
    line-height: 1.375rem;
    padding: 1.125rem .875rem;
    margin: 1.25rem 0;
    color: #fff;
    font-weight: 400;
    font-size: 1rem;
    font-family: 'Signika', sans-serif;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

#header.header-white #primary-menu ul li > a {
    color: #000;
}

#primary-menu ul li > a span { display: none; }

#primary-menu ul li > a i {
    position: relative;
    top: -1px;
    font-size: .875rem;
    width: 1rem;
    text-align: center;
    margin-right: .375rem;
    vertical-align: top;
}

#primary-menu ul li > a i.icon-angle-down:last-child {
    font-size: .75rem;
    margin: 0 0 0 .3125rem;
}

#primary-menu ul li:hover > a,
#primary-menu ul li:focus > a,
#primary-menu ul li:active > a,
#primary-menu ul li.current > a {
    color: #fff;
    background-color: #6c4099;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

#primary-menu li.sub-menu > ul > li > a {
    color: #fff;
}

#primary-menu li.sub-menu > ul > li:hover > a,
#primary-menu li.sub-menu > ul > li:focus > a,
#primary-menu li.sub-menu > ul > li:active > a,
#primary-menu li.sub-menu > ul > li.current > a {
    color: #6c4099;
    background-color: #fff;
}

body.no-superfish #primary-menu li:hover > ul:not(.mega-menu-column),
body.no-superfish #primary-menu li:hover > .mega-menu-content { display: block; }

#primary-menu li.sub-menu > ul,
#primary-menu li.sub-menu > ul.mega-menu {
    display: none;
    position: absolute;
    background-color: #6c4099;
    height: auto;
    z-index: 199;
    width: 13.75rem;
    top: 100%;
    left: 0;
    margin: 0;
    padding-left: 0;
    -webkit-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    -moz-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

#primary-menu li.sub-menu > ul.mega-menu {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0 1.875rem;
}

#primary-menu li.sub-menu > ul.mega-menu > li {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}

#primary-menu li.sub-menu:after {
    content: '';
    position: absolute;
    opacity: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 20px;
    height: 10px;
    border-bottom: solid 10px #6c4099;
    border-left: solid 10px transparent;
    border-right: solid 10px transparent;

    -webkit-transition: all 150ms ease;
    -moz-transition: all 150ms ease;
    -ms-transition: all 150ms ease;
    -o-transition: all 150ms ease;
    transition: all 150ms ease;
    transition-delay: 150ms;
}

#primary-menu li.sub-menu:hover:after {
    opacity: 1;
}

#primary-menu ul ul:not(.mega-menu-column) ul {
    top: -.125rem !important;
    left: 13.625rem;
}

#primary-menu ul ul.menu-pos-invert:not(.mega-menu-column),
#primary-menu ul li .mega-menu-content.menu-pos-invert {
    left: auto;
    right: 0;
}

#primary-menu ul ul:not(.mega-menu-column) ul.menu-pos-invert { right: 218px; }

#primary-menu ul ul li {
    float: none;
    margin: 0;
}

#primary-menu ul ul li:first-child { border-top: 0; }

#primary-menu ul ul li > a {
    position: relative;
    font-size: .75rem;
    font-weight: 400;
    color: #444;
    padding-top: .625rem;
    padding-bottom: .625rem;
    border: 0;
    letter-spacing: 0;
    font-family: 'Montserrat', sans-serif;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
    margin: 0;
}

#primary-menu ul ul li > a i {
    vertical-align: middle;

}

#header.style-2 #primary-menu {
    width: 100%;
    border-top: 1px solid #f5f5f5;
}

#header.style-2 #primary-menu > ul > li > a {
    padding: 1.5rem .875rem;
    margin: 0;
}