#testimonials {
    overflow: hidden;
}

.testimonials .swiper-container {
    padding: 5rem 0 8rem;
    position: static;
}

.testimonial {
    padding: 1rem;
    text-align: left;
}

.testimonial .content {
    position: relative;
    background-color: #fff;
    border-radius: .25rem;
    padding: 1rem;
}

.testimonial .content:before {
    content: '\f10d';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    position: absolute;
    top: 0;
    left: 1rem;
    font-size: 2.75rem;
    opacity: .15;
    z-index: 1;
}

.testimonial .content:after {
    content: '';
    position: absolute;
    bottom: -1.25rem;
    right: 8.125rem;
    width: 1.875rem;
    height: 1.25rem;
    border-bottom: solid .625rem transparent;
    border-right: solid .9375rem #fff;
    border-left: solid .9375rem transparent;
    border-top: solid .625rem #fff;
}

.testimonial .content > * {
    font-size: 1.125rem;
    margin: 0;
    z-index: 2;
}

.testimonial .client {
    margin-top: 1rem;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    -webkit-align-items: flex-end;
    align-items: flex-end;
}

.testimonial .client .info {
    padding-right: 1rem;
}

.testimonial .client .info .name > *,
.testimonial .client .info .occupation > * {
    color: #fff;
}

.testimonial .client .info .name > * {
    margin: 0;
    font-size: 1.125rem;
    font-weight: 600;
}

.testimonial .client .info .occupation > * {
    font-size: .875rem;
    margin: 0;
}

.testimonial .client .image {
    border: .1875rem solid #fff;
    width: 6.25rem;
    height: 6.25rem;
}

.testimonial .client .image > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}